.menu__dev-name {
  font-size: 28px;
}

.menu__dev-name--white {
  color: white;
}

.menu__bracket--blue {
  color: rgb(22, 133, 223);
}

.menu li{
  margin-right: 22px;
}

.menu__hover-underline-animation {
  display: inline-block;
  position: relative;
}

.menu__hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(22, 133, 223);
  transition: transform 0.25s ease-out;
}

.menu__hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.menu__hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.menu__hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}